<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!--エラーの数を数えて教えてくれる．（errors.countが複数の場合，errorsにしてくれる）-->
      The form contains <%= pluralize(object.errors.count, "error") %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>